
@{
    ViewBag.Title = "Ekle";
}

<form method="post" class="form-group">
    <div>
       
        <input placeholder="Firma Adı" type="text" class="form-control" name="FirmaAdi" />
        <input placeholder="Yetkili İsmi" type="text" class="form-control" name="YetkiliAd" style="margin-top: 10px"/>
        <input placeholder="Telefon" type="text" class="form-control" name="Tel" style="margin-top: 10px" />
       
    
    </div>
    <div style="margin-top: 10px">
       <button class="btn btn-primary">Ekle</button>
    </div>
</form>

